<article>
  <h2>Citation {{ index }}</h2>
  <dl>
    <dt>Source</dt>
    <dd>{{ citation.description }}</dd>
    {% if citation.notes -%}
      <dt>Notes</dt>
      <dd>{{ citation.notes }}</dd>
    {%- endif %}
    {% if citation.url -%}
      <dt>URL</dt>
      <dd><a target="_blank" href="{{ citation.url }}">{{ citation.url }}</a></dd>
    {%- endif %}
    {%- if citation.attachments.size > 0 -%}
      <dt>Attachments</dt>
      <dd>
        {%- capture attachment_links -%}
        {%- for attachment in citation.attachments -%}
          <a target="_blank" download="{{ attachment.fileName }}" href="https://mandates-map.directus.app/assets/{{ attachment.directusId }}/{{ attachment.fileName }}?download">{{ attachment.fileName }}</a>{% unless forloop.last %},{% endunless %}
        {%- endfor -%}
        {%- endcapture -%}
        {%- assign mapped_attachments = attachment_links | split: "," -%}
        {% render "string-array" array: mapped_attachments %}
      </dd>
    {%- endif %}
  </dl>
  {% if citation.screenshots.size > 0 -%}
    <ul class="screenshots">
    {% for screenshot in citation.screenshots -%}
      <li><img src="https://mandates-map.directus.app/assets/{{ screenshot.directusId }}/{{ screenshot.fileName }}" /></li>
    {%- endfor %}
    </ul>
  {%- endif %}
</article>