<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% capture scss -%} {% render "style.scss" %} {%- endcapture -%}
    <style>{{ scss | scss_compile | cssmin }}</style>
    <title>{{ entry.seo.title }}</title>
    <meta name="description" content="{{ entry.seo.description }}" />
    <meta name="og:title" content="{{ entry.seo.title }}" />
    <meta name="og:description" content="{{ entry.seo.description }}" />
    <meta name="og:type" content="website" />
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-5MFS4ZVMY3"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || []; function
      gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config',
      'G-5MFS4ZVMY3');
    </script>
  </head>
  <body>
    {% render "header" %}
    {{ content }}
  </body>
</html>
