---
pagination:
  data: entries
  size: 1
  alias: entry
permalink: "{{ entry.escapedPlaceId }}.html"
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% capture scss -%} {% render "style.scss" %} {%- endcapture -%}
    <style>{{ scss | scss_compile | cssmin }}</style>
    <title>Parking reforms in {{ entry.placeId }} | Parking Reform Network</title>
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-5MFS4ZVMY3"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || []; function
      gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config',
      'G-5MFS4ZVMY3');
    </script>
  </head>
  <body>
    {% render "header" %}
    <main>
      <header>
        <h1>Parking reforms in {{ entry.placeId }}</h1>
      </header>
      <p class="summary">{{ entry.summary }}</p>
      <dl>
        <dt>Reform type</dt>
        <dd>{{ entry.policyChange }}</dd>
        <dt>Reform status</dt>
        <dd>{{ entry.status }}</dd>
        <dt>Affected land uses</dt>
        <dd>{{ entry.landUse }}</dd>
        <dt>Reform scope</dt>
        <dd>{{ entry.scope }}</dd>
        {% if entry.requirements -%}
          <dt>Requirements</dt>
          <dd>{{ entry.requirements }}</dd>
        {%- endif %}
        {% if entry.reporter -%}
          <dt>Reporter</dt>
          <dd>{{ entry.reporter }}</dd>
        {%- endif %}
      </dl>
      {% for citation in entry.citations -%}
        <section>
          <h2>Citation {{ forloop.index }}</h2>
          <dl>
            <dt>Source</dt>
            <dd>{{ citation.description }}</dd>
            {% if citation.notes -%}
              <dt>Notes</dt>
              <dd>{{ citation.notes }}</dd>
            {%- endif %}
            {% if citation.notes -%}
              <dt>URL</dt>
              <dd><a target="_blank" href="{{ citation.url }}">{{ citation.url }}</a></dd>
            {%- endif %}
          </dl>
          {% if citation.attachments -%}
            <h3>Attachments and screenshots</h3>
            <ul class="attachments">
              {% for attachment in citation.attachments -%}
                <li>
                  {% if attachment.isDoc -%}
                    <a target="_blank" download="{{ attachment.fileName }}" href="https://mandates-map.directus.app/assets/{{ attachment.directusId }}/{{ attachment.fileName }}?download">{{ attachment.fileName }}</a>
                  {%- else -%}
                    <img src="https://mandates-map.directus.app/assets/{{ attachment.directusId }}/{{ attachment.fileName }}" />
                  {%- endif %}
                </li>
              {%- endfor %}
            </ul>
          {%- endif %}
        </section>
      {%- endfor %}
    </main>
  </body>
</html>
