---
pagination:
  data: entries
  size: 1
  alias: entry
permalink: "{{ entry.escapedPlaceId }}.html"
layout: layout.liquid
---
<main>
  <header>
    <h1>Parking reforms in {{ entry.placeId }}</h1>
  </header>
  <p class="summary">{{ entry.summary }}</p>
  <dl>
    <dt>Reform type</dt>
    <dd>{% render "string-array" array: entry.policyChange %}</dd>
    <dt>Reform status</dt>
    <dd>{{ entry.status }}</dd>
    <dt>Affected land uses</dt>
    <dd>{% render "string-array" array: entry.landUse %}</dd>
    <dt>Reform scope</dt>
    <dd>{% render "string-array" array: entry.scope %}</dd>
    {% if entry.requirements.size > 0 -%}
      <dt>Requirements</dt>
      <dd>{% render "string-array" array: entry.requirements %}</dd>
    {%- endif %}
    {% if entry.reporter -%}
      <dt>Reporter</dt>
      <dd>{{ entry.reporter }}</dd>
    {%- endif %}
  </dl>
  <section aria-label="citations">
    {% for citation in entry.citations -%}
      {% render "citation" citation: citation numCitations: entry.citations.size index: forloop.index %}
    {%- endfor %}
  <section>
</main>
